#root {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.layout-app {
    width: 100%;
    max-width: 100%;
    height: 0 auto;
    max-height: 500%;
    background: #292c34;
    display: inline-block;
    color: #dae0dc;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

.layout-footer {
    width: 100%;
    max-width: 100%;
    height: 0 auto;
    max-height: 25%;
    display: inline-block;
    background: #dae0dc;
    color: #292c34;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.layout-header {
    width: 100%;
    max-width: 100%;
    height: 0 auto;
    max-height: 25%;
    display: inline-block;
    background: #dae0dc;
    color: #292c34;
    margin: 0;
    padding: 0;
}

.layout-footer p {
    padding-left: 1.5rem;
}

.layout-wrapper {
    display: inline-block;
}

.layout-header .layout-wrapper {
    background: inherit;
    color: inherit;
}

.layout-wrapper nav {
    display: inline-block;
    background: inherit;
    color: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.layout-wrapper ul {
    display: inline-block;
    list-style: none;
    color: inherit;
    background: inherit;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

    .layout-wrapper ul li {
        display: inline-block;
        color: inherit;
        background: inherit;
        margin: 0;
        padding: 0;
    }

        .layout-wrapper nav ul li a {
            padding: 0.25em 1em;
            margin: 0.15em;
            text-decoration: none;
            background-color: inherit;
            color: inherit;
            border: 3px solid black;
            border-bottom-left-radius: 1em 1em;
        }

        .layout-wrapper nav ul li a:hover, nav ul li a:focus {
            color: black;
            background-color: white;
            font-weight: bold;
        }

    .layout-wrapper img {
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: top;
    }

    .layout-wrapper button {
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        border: none;
        text-decoration: none;
        font-weight: bold;
        transition: 0.12s ease-in-out;
    }

        .layout-wrapper button:hover, button:focus {
            transform: scale(0.94);
            color: #cecdcd;
            box-shadow: 0 5px 15px #292c34;
        }

    .layout-wrapper label {
        text-align: left;
        text-transform: uppercase;
        font-size: 0.7em;
        font-weight: bold;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .layout-wrapper input {
        padding: 0;
        margin: 0;
    }

    .layout-wrapper p {
        transform:scale(1.5);
        padding-block: 1em;
    }

.layout-frame {
    width: inherit;
    max-width: 100%;
    height: 0 auto;
    max-height: inherit;
    background: rgb(41,44,52);
    background: linear-gradient(90deg, rgba(41,44,52,1) 0%, rgba(93,98,109,1) 25%, rgba(105,117,136,1) 100%);
    text-align: right;
}

    .layout-frame h1 {
        margin: 0;
        padding: 3rem;
    }

    .layout-frame p {
        margin: 0;
        padding-right: 3rem;
    }

.layout-frame-profile {
    width: 100%;
    max-width: 100%;
    height: 0 auto;
    max-height: inherit;
    background: rgb(41,44,52);
    background: linear-gradient(90deg, rgba(41,44,52,1) 0%, rgba(93,98,109,1) 25%, rgba(105,117,136,1) 100%);
    text-align: center;
}

.layout-frame-profile .layout-wrapper {
    padding-inline: 10em;
}